{% extends "base.html" %}

{% block content %}
<h2 class="text-center" style="margin-top:100px">Login </h2>
<form action="{% url 'login' %}" method="POST" class="mt-4">
{% csrf_token %}
<div style="width: 300px; padding: 20px" class="mx-auto border bg-dark text-light rounded">
<div class="d-flex flex-column">
    <label for="username"> Username: </label>
    <input class="form-control" id="username" type="text" name='username' />
</div>
<div class="d-flex flex-column mt-3">
    <label for="pw">Password:</label>
    <input class="form-control" id='pw' type="password" name='password' />
</div>
    <input class="btn btn-light mt-3" type="submit" value='login' />
    </div>
</form>
{% endblock  %}